@import url("reset.css");
.CWKPortfolio {
	display: inline-block;
}
#box-holder {
	width: 960px;
	clear: both;
	padding: 30px 25px 20px 25px;
	margin: 15px;
	border: 2px solid #00000f;
	background-color: #f8f0ce;
}
	.inner-box {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 220px;
	height: 240px;
	margin: 8px;
}
body {
	font-family: "Garamond", Times New Roman, serif;
}
img.medium {
	width: 250px;
	height: 250px;
}
img.small {
	width: 100px;
	height: 100px;
}
img.portrait {
	width: 150px;
	height: 180px;
	text-align: center;
}
img.landscape {
	width: 220px;
	height: 170px;
	align: center;
}
h1 {
	font-size:22px;
	text-align: center; 
}
h2 {
	font-size:19px;
	text-align: center; 
}
h3	{
		font-size:18px;
		text-align:center;
		font-style: italic;
		font-weight;normal;
}
h4	{
		font-size: 16px;
		text-align:center;
		margin-top: 0px;
}
p	{
	font-size: 18px;
		text-align:center;
		margin-bottom: 2px;
}
	
		