@import url("reset.css");
.CWKPortfolio {
	display: inline-block;
}
body {
	font-family: "Garamond", Times New Roman, serif;
}
img.medium {
	width: 250px;
	height: 250px;
}
img.small {
	width: 100px;
	height: 100px;
}
img.portrait {
	width: 200px;
	height: 300px;
}
img.landscape {
	width: 450px;
	height: 300px;
}
h4 {
	font-size:90%;
	text-align: justify; 
}
h5 {
	font-size:80%;
	text-align: justify; 
}
	