@import url("reset.css");
.CWKPortfolio {
	display: inline-block;
}
box-holder {
	clear: both;
	padding: 15px;
	margin: 0 10px;
	background: #efefef;
}
	.inner-box {
	border: 1px solid #00ff00;
	width: 17%;
}
body {
	font-family: "Garamond", Times New Roman, serif;
}
img.medium {
	width: 250px;
	height: 250px;
}
img.small {
	width: 100px;
	height: 100px;
}
img.portrait {
	width: 200px;
	height: 300px;
}
img.landscape {
	width: 450px;
	height: 300px;
}
h4 {
	font-size:90%;
	text-align: justify; 
}
h5 {
	font-size:80%;
	text-align: justify; 
}
	